<h2 class="col-xs-12">
  Buscar líneas de ómnibus
</h2>

<form action="submit" (submit)="onSubmit($event)">

  <div class="row">
    <input class="col-xs-10" auto-complete [(ngModel)]="selectedLine" name="selectedLine" [source]="lines"
           [list-formatter]="myValueFormatter" [value-formatter]="myValueFormatter"/>
    <button type="submit" class="btn btn-sm btn-primary col-xs-1">
      <span class="glyphicon glyphicon-search"></span>
    </button>
    <button type="reset" class="btn btn-sm btn-danger col-xs-1">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </div>
</form>
